$mainRadius: 10px;
$secondaryColor: #006d77;

.filter-main-container {
  padding-top: 90px;
  background-color: black;
  min-height: 80vh;
  .filter-main-title {
    color: white;
    border-bottom: 1px solid $secondaryColor;
    margin-bottom: 50px;
    padding-bottom: 30px;
  }
}

.category-row-container-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px;
  align-items: center;

  .category-row-container-filter::-webkit-scrollbar {
    display: none;
  }
  .contest-category-single-filter:hover {
    .contest-top-details-filter {
      opacity: 1;
    }
    .row-cover-img-filter {
      box-shadow: 0px 0px 5px 0px white;
      opacity: 0.5;
    }
  }
  .contest-category-single-filter {
    cursor: pointer;
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 0 19px 0;
    padding: 0;
    max-height: 230px;
    width: 33%;
    .contest-top-details-filter {
      opacity: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;
      justify-content: center;
      z-index: 99;
      align-items: center;
      margin-bottom: -50px;
      margin-right: -50px;
      font-size: 20px;
      text-align: center;
      * {
        z-index: 99;
        color: white;
        margin: 6px;
        align-content: center;
      }
      .contest-title-filter {
        font-weight: bold;
      }
    }
    .row-cover-img-filter {
      max-width: 99%;
      height: 220px;
      object-fit: cover;
      box-shadow: 0px 0px 3px 1px black;
    }
  }
}
