$mainBackground: #000000;
$secondaryColor: #006d77;
$mainFont: "ABeeZee";

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  font-family: $mainFont, sans-serif;
}

button span {
  font-family: $mainFont, sans-serif;
}

.titles {
  font-family: $mainFont, sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

.pop-btn:hover {
  transition: transform 200ms;
  transform: scale(1.1);
}

.hanging-btn span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  margin-top: 10px;
  left: 5;
  text-decoration: underline;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.hanging-btn span:hover:before {
  visibility: visible;
  width: 70%;
}

.hanging-btn-black span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  margin-top: 10px;
  left: 5;
  text-decoration: underline;
  background-color: $secondaryColor;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.hanging-btn-black span:hover:before {
  visibility: visible;
  width: 70%;
}

.avatar-btn {
  border: 2px solid transparent;
}

.avatar-btn:hover {
  box-shadow: 0px 0px 3px 0px white;
  transition: transform 200ms;
  transform: scale(1.1);
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: black;
  z-index: 99;
  box-shadow: 0 3px 2px black !important;
}