$secondaryColor: #006d77;

.footer-container {
  .main-footer {
    height: 60px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    border-top: 1px solid black;
    box-shadow: 0 0 5px 0 $secondaryColor;
    padding: 0 30px 0 30px;
    .contact-details {
      align-items: center;
      text-align: center;
      color: white;
      .email-info {
        font-size: 14px;
      }
    }
    .social-media {
      justify-content: flex-end;
      display: flex;
      flex-wrap: wrap;
    }
    .social-media-icon {
      color: white;
      margin: 0 5px 0 5px;
    }
  }
}
.technologies-container {
  margin-left: -95px;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  .svg-technology {
    max-width: 25px;
    max-height: 25px;
  }
  .mariadb-icon {
    max-width: 35px;
    max-height: 35px;
  }
}
