$mainRadius: 10px;
$secondaryColor: #006d77;

.category-row-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;

.category-row-container::-webkit-scrollbar {
    display:none;
}
  .contest-category-single:hover {
    .contest-top-details {
      opacity: 1;
    }
    .row-cover-img {
      box-shadow: 0px 0px 5px 0px white;
      opacity: 0.5;
    }
  }
  .contest-category-single {
    cursor: pointer;
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    max-height: 230px;
    width: 33%;
    .contest-top-details {
      background-color: black !important;
      opacity: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;
      justify-content: center;
      z-index: 99;
      align-items: center;
      margin-top: 20px;
      margin-bottom: -70px;
      margin-right: -50px;
      font-size: 20px;
      text-align: center;
      * {
        z-index: 99;
        color: white;
        margin: 6px;
        align-content: center;
      }
      .contest-title {
        font-weight: bold;
      }
    }
    .row-cover-img {
      max-width: 99%;
      height: 220px;
      object-fit: cover;
      box-shadow: 0px 0px 3px 1px black;
    }
  }
}

.category-title {
  margin-bottom: 40px;
}