$mainRadius: 10px;
$secondaryColor: #006d77;
$secondaryGradientColor: #08d6e9;

.main-contests-container {
  background-color: black;
  padding-bottom: 20px;
}
.recent-contests-container {
  padding: 60px 0px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
  .recent-contests {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: $mainRadius;
    justify-content: center;
    width: 100vw;
  }
  .recent-contests:hover {
    .contest-top-details {
      opacity: 1;
    }
  }
  .single-contest {
    border-bottom: 2px solid black !important;
    box-shadow: 0 0px 5px 0 black;
    cursor: pointer;
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    .cover-contest-top-details {
      opacity: 0;
      display: flex;
      flex-wrap: wrap;
      max-height: 30px;
      justify-content: flex-end;
      align-items: center;
      margin-top: -60px;
      font-size: 20px;
      * {
        color: white;
        margin: 6px;
        text-shadow: 1px 1px 1px grey, 0px 1px 3px black;
      }
      .cover-contest-title {
        align-self: initial;
      }
    }
    .contest-main-cover {
      display: flex;
      justify-content: center;
      max-width: 100%;
      background-color: black;
      padding: 0;
      margin-bottom: 20px;
      .cover-img-main {
        width: 98.9vw;
        max-height: 400px;
        box-shadow: 0 1px 5px 2px black;
        z-index: 5;
        object-fit: cover;
      }
    }
  }
}

.category-row-div {
  margin-top: 20px;
  max-height: 280px;
  .category-title {
    color: white;
    background-image: linear-gradient(45deg, $secondaryColor 15%, black 60%);
    max-width: 50%;
    text-align: initial;
    padding: 10px;
    margin-bottom: 23px;
    z-index: 150;
  }
}

.categories-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100vw;
}
