$secondaryColor: #006d77;

.fab-component {
    margin-bottom:"50px";
    background-color: $secondaryColor !important;
    color: white !important;
    font-weight: bold !important;
}

.back-to-top-root {
    position: fixed !important;
    bottom: 70px !important;
    right: 35px !important;
}