.landing-page-container {
  background-color: black;
  height: 100vh;
}
.hang-button {
  color: white;
  text-transform: none;
  &:hover {
    color: black;
    background-color: white;
  }
}

.discover-contests-container {
  display: flex;
  text-align: flex-end;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding-top: 200px;
  max-height: 900px;
  min-height: 450px;

  .landing-video {
    position: fixed;
    max-height: 85%;
    box-shadow: 0 0px 25px 35px rgba(22, 22, 22, 0.521);
  }

  .discover-link {
    cursor: pointer;
    color: white;
    vertical-align: bottom;
    justify-content: flex-start;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    z-index: 90;
    background-color: rgba(0, 0, 0, 0.685);
    padding: 15px !important;
    border-radius: 7px;
    margin-top: 400px;
    &:hover {
      border-color: black;
      color: black !important;
      background-color: white;
      box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.1);
    }
  }
}
