$secondaryColor: #006d77;

.join-title {
    justify-content: center;
    text-align: center;
    .contest-dialog-name {
        color: $secondaryColor;
        font-size: 30px;
    }
}

.form-container-join {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1300px;
  .photo-upload-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    align-content: center;
    #upload-photo-input {
      width: 100%;
      height: 100%;
    }
  }

  .close-dialog-btn {
    align-items: flex-end
  }

  .upload-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #006d77;
    background-color: white;
    &:hover {
      background-color: #006d77;
      color: white;
    }
    height: 100%;
    margin: 0;
    text-align: center;
    align-content: center;
  }
  .additional-photo-data {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 400px;
    padding-inline-start: 10px;
    align-content: center;
    justify-content: center;
    .join-input-field {
      margin: 20px;
    }
  }
}
.action-buttons {
  display: flex;
  justify-content: flex-end;
  .submit-button {
      font-weight: bold;
      color: $secondaryColor;
  }
}

.empty-photo {
  border-style: dotted;
  border-radius: 5px;
  display: block;
  border-color: $secondaryColor;
  width: 500px;
  max-width: 100%;
  height: 300px;
  margin: 20px;
}

.add-icon {
  padding: 10px;
}

.uploaded-image {
  margin: 20px;
  max-width: 500px;
}

.upload-photo {
  max-height: 100%;
  max-width: 100%;
}
