$mainFont: "ABeeZee";
$secondaryColor: #006d77;

.sign-dialog {
  text-align: center;
  justify-content: space-between;
}

.form-text-field {
  color: black !important;
}

.register-button {
  color: #006d77 !important;
  font-weight: bold !important;
}
.input-main-container-sign {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 300px !important;
  align-content: center;
}

.main-btn-sign {
  margin: 8px;
  margin-right: 25px !important;
}

.form-container div {
  margin: 5px;
}

.form-container button {
  margin: 2px 20px !important;
}

.not-member-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: 25px;
}

.google-facebook-login {
  width: 100%;
  align-content: center;
  margin: 10px;
  max-width: 300px;
  button {
    font-size: 14px !important;
    font-weight: 500;
    font-family: $mainFont, sans-serif;
    background-color: white;
    border-radius: 2px;
    margin-top: 5px;
    color: $secondaryColor !important;
    text-transform: none;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px,
      rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  }
  .google-login span {
    padding: 10px 31px 10px 0px !important;
  }
  .fa-facebook {
    margin-right: 15px !important;
  }
}
