$mainFont: "ABeeZee";
$secondaryColor: #006d77;

.register-main-container {
  display: flex;
  align-content: center;
}

.register-dialog {
  text-align: center;
  justify-content: space-between;
}
.input-main-container-register {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 300px !important;
  align-content: center;
}

.form-container div {
  margin: 5px;
}
.form-container button {
  margin: 2px 20px !important;
}

.already-member-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: 25px;
}

.hang-button {
  color: white;
  text-transform: none;
}

.login-button {
  color: $secondaryColor !important;
  font-weight: bold !important;
}

.form-input-field {
  color: black;
}