.rating-container {
    justify-content: center;
    .rating-form {
        margin: 20px;
    }
    .rate-box {
        margin: 20px;
    }

}

#form-dialog-title {
    justify-content: center;
    text-align: center;
}