$secondaryColor: #006d77;

.create-contest-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  .create-contest-input-field {
    margin: 5px;
  }
}

.upload-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $secondaryColor;
  background-color: white;
  &:hover {
    background-color: $secondaryColor;
    color: white;
  }
  height: 100%;
  margin: 0;
  text-align: center;
  align-content: center;
}

.invitations-form-control {
  min-width: 120px !important;
  margin-left: 10px !important;
  margin-top: -14px !important;
  label + .MuiInput-formControl {
    margin-top: 20px !important;
  }
}

.basic-info-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  min-height: 50px;
  margin-bottom: 20px;
  .single-form-element-invitations {
    margin-left: 50px !important;
  }
  .info-fields-div {
    align-content: center;
    display: flex;
    justify-content: flex-start;
    margin-left: 36%;
    max-height: 50px;
    margin-bottom: 10px;
  }
}

.section-title {
  text-align: start;
  margin-left: 37%;
}

.jury-form-control {
  margin-left: 30px !important;
  min-width: 120px !important;
  margin-top: -14px !important;
}

.invitation-chips {
  display: flex;
  flex-wrap: wrap;
}

.invitation-single-chip,
.jury-single-chip {
  margin: 3px !important;
  background-color: $secondaryColor !important;
  color: white !important;
}

.cover-upload-input-field-with-photo {
  cursor: pointer;
}

.cover-photo-upload-div {
  width: 98.8vw !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  .uploaded-cover {
    cursor: pointer;
    object-fit: cover;
    width: 98.9vw !important;
    height: 270px;
    border-bottom: 2px solid black;
    box-shadow: 0 0px 5px 0 black;
  }
  .empty-cover {
    border-style: dotted;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    border-color: $secondaryColor;
    width: 100% !important;
    height: 270px;
  }
  .cover-upload-input-field {
    width: 100% !important;
  }
  .cover-upload-button {
    width: 100% !important;
    cursor: pointer;
    display: flex;
    align-items: center;
    vertical-align: bottom;
    justify-content: center;
    color: #006d77;
    &:hover {
      transition: transform 200ms;
      transform: scale(1.1);
    }
    height: 100%;
    margin: 0;
    align-content: space-between;
  }
}
.select-multiple-component {
  min-width: 100px;
}

.additional-photo-data {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.action-buttons {
  justify-content: center;
  padding-top: 10px;
  button {
    margin: 0 20px;
  }
  span {
    font-size: 20px;
  }
}

.photo-error {
  color: red;
  justify-content: center;
  margin-top: -50px;
}

.single-form-element-type {
  min-width: 200px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
