$secondaryColor: #006d77;

.not-found-container {
    min-height: 79vh;
    .not-found-title {
        margin-top: 100px;
    }
}

.download-button-container {
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    .download-btn {
      color: white !important;
      background-color: $secondaryColor !important;
      font-size: 20px !important;
      box-shadow: 0 0 3px 0 black;
      &:hover {
        background-color: black !important;
      }
    }
  }

  .selfie-icon {
    color: $secondaryColor;
  }

  .selfie-container-photo {
    video, img {
      box-shadow: 0 0 3px 0 black;
    }
  }