$secondaryColor: #006d77;

.rank-place {
    width: 20px;
}
.all-users-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 80px;
    justify-content: center;
    align-content: center;
    .users-ranking-title {
        color: $secondaryColor;
        border-bottom: 2px solid $secondaryColor;
        padding: 20px;
    }
    .single-user-div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
        .user-image {
            max-width: 50px;
            max-height: 50px;
            margin-top: -8px;
            margin-bottom: 10px;
        }
        * {
            margin: 10px;
            align-content: center;
        }
    }
    .points-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        span {
            width: 100px;
        }
    }
    .fullname-container {
        width: 200px;
    }
}

