$secondaryColor: #006d77;

.close-dialog-button {
  position: absolute;
  left: 95%;
  top: -9%;
  background-color: lightgray;
  color: gray;
}
.single-photo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 600px;
  object-fit: contain;
  .orig-photo {
    max-height: 600px;
    object-fit: contain;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    .magnifier-image {
      border: 4px solid $secondaryColor;
      max-height: 100%;
      justify-content: center;
      object-fit: contain;
    }
  }
}

#responsive-dialog-title {
  display: block;
  padding: 0;
  max-height: 50px;
  margin-bottom: 20px;
}

.photo-title {
  align-items: center;
  text-align: center;
  margin-top: -40px;
  color: $secondaryColor;
}

.additional-photo-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  max-width: 100%;
  vertical-align: middle;
  .photo-story {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    max-width: 45%;
    margin: 15px;
    align-items: top;
  }
  .photo-score {
    margin: 15px;
    margin-left: 50px;
  }
  .small-title {
    color: $secondaryColor;
  }
}

.magnifying-glass.circle {
  border-color: $secondaryColor !important;
  height: 210px !important;
  width: 210px !important;
}

.facebook-share-button {
  max-width: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: top;
}

.input-main-container-photo {
  overflow-y: hidden !important;
}