$mainRadius: 10px;
$secondaryColor: #006d77;
$mainFont: "ABeeZee";

.cover-img {
  width: 100vw;
  max-height: 450px;
  border-bottom: 2px solid black;
  box-shadow: 0 0px 5px 0 black;
  object-fit: cover;
}

.contest-cover {
  display: flex;
  justify-content: center;
  max-width: 100%;
  background-color: black;
}

.contest-details {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  .contest-title {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    padding: 0 10px 0 10px;
    justify-content: center;
    align-content: center;
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 0px 5px 0 black;
    border-radius: $mainRadius;
    margin-top: -35px;
    .contest-name {
      color: black;
    }
  }
}
.main-contest-info {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  min-height: 35vh;
  .tabs-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    .MuiTabs-indicator {
      background-color: $secondaryColor;
    }
  }
  .PrivateTabIndicator-colorSecondary-11 {
    background-color: $secondaryColor !important;
  }
  .tab-panel {
    margin-right: 110px;
    margin-bottom: 20px;
    width: 100%;
    div {
      padding: 0 0 0 0 !important;
    }
    color: $secondaryColor;
  }
}
.basic-category-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  .info-title {
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    color: $secondaryColor;
  }
  .info-text {
    color: black;
    font-size: 16px;
  }
  .stepper-container {
    width: 100%;
    * {
      font-family: $mainFont, sans-serif !important;
      font-weight: bold;
    }
  }
}

.tabs-root {
  flex-grow: 1;
  background-color: white !important;
  display: flex;
  height: 224;
}

.apply-button {
  position: fixed;
  border-radius: 14px;
  border-color: 1px solid white;
  right: 50px;
  bottom: 90px;
  box-shadow: 0 0 3px 0 black;
  z-index: 99;
  .apply-title {
    margin-left: 10px;
  }
}

.join-button {
  color: white !important;
  background-color: $secondaryColor !important;
  font-size: 20px !important;
  box-shadow: 0 0 3px 0 black;
  &:hover {
    background-color: black !important;
  }
}

.additional-info {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: start;
  margin: 20px 0 0 150px;
  justify-content: flex-start;
}

@mixin photoContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 15px;
  object-fit: contain;
  .contest-photo-container {
    object-fit: contain;
    margin: 26px 1px;
    max-width: 32%;
  }
  .thumb-photo {
    cursor: pointer;
    max-width: 100%;
    max-height: 225px;
    box-shadow: 0px 0px 3px 1px black;
  }
}

.all-photos-container {
  @include photoContainer();
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 70px;
}

.all-photos-ranking-container {
  @include photoContainer();
  margin-bottom: 30px;
  .winner-badge {
    max-width: 85px;
    max-height: 85px;
    margin-top: -35px;
  }
  .winner-name {
    position: relative;
    color: white;
    margin-bottom: -30px;
    z-index: 50;
    text-shadow: 0px 0px 6px rgb(0, 0, 0);
  }
  .single-winner-div {
    margin-bottom: 25px;
  }
}

.main-jury-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  max-width: 60%;
  .contest-jury-container {
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
  }
}

.photo-vote-score-info {
  color: white;
  margin-top: -38px;
  z-index: 60;
  margin-bottom: -32px;
  .vote-btn {
    color: white !important;
    background-color: $secondaryColor;
    text-transform: none !important;
    font-weight: bold !important;
    font-size: 20px !important;
    margin-right: 20px !important;
    padding: 0 5px 0 5px !important;
    box-shadow: 0px 0px 2px 0px black;
    &:hover {
      background-color: white;
      color: $secondaryColor !important;
      box-shadow: 0px 0px 3px 0px black;
    }
  }
  .current-score {
    font-size: 20px;
    text-shadow: 0px 0px 6px rgb(0, 0, 0);
  }
}

.draw-winners-btn-container {
  margin-top: -45px;
  display: flex;
  justify-content: flex-end;
  .draw-winners-btn {
    color: white !important;
    background-color: $secondaryColor !important;
    font-size: 20px !important;
    box-shadow: 0 0 3px 0 black;
    &:hover {
      background-color: black !important;
    }
  }
}
