.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-height: 100px;

  .header-buttons {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
  }
}

.header-logo-container {
  align-self: flex-start;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  right: 100px;

  .header-logo {
    max-height: 40px;
    margin: 5px;
  }

  .header-logo-text {
    color: white;
    font-size: 30px;
    margin: 10px;
  }
}
