.main-header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 100px;
    align-items: center;
    padding: 0px 30px 0px 30px;
    max-width: 95vw;
    z-index: 1000;  
    .main-header-buttons {
      margin-top: 5px !important;
      display: flex !important;
      flex-wrap: wrap !important;
      justify-content: flex-end !important;
      button {
        margin: 0 5px 0 5px !important
      }
    }
  }

  .menu-link {
    display: flex;
    color: white;
    font-size: 13px;
    align-items: center;
  }

  .header-icon {
    color: white !important;
    margin-right: 10px !important;
    width: 20px !important;
    height: 23px !important;
  }

  .hang-button {
    color: white !important;
    text-transform: none !important;
    padding: 0 !important;
  }

  .create-contest-btn{
    color: white !important;
    text-transform: none !important;
    background-color: black !important;
    border: 1px solid white !important;
    align-content: center;
    justify-content: center;
    &:hover {
      color: black !important;
      background-color: white !important;
    }
  }
  
  .ranking-btn {
    color: white !important;
  }
  
  .main-header-logo-container {
    align-self: flex-start;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    right: 100px;
  
    .main-header-logo {
      max-height: 40px;
      margin: 5px;
    }
  
    .main-header-logo-text {
      color: white;
      font-size: 30px;
      margin: 10px;
    }
  }
  
.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 900px;
    margin-top: 4px;
    margin-right: -110px;
    .main-header-middle {
      color: white;
      display: flex;
      flex: 1 1;
      align-items: center;
      margin: 15px;
      max-height: 40px;
    }
}

.filter-buttons {
  display: flex;
  color:white;
  margin-left: 15px;
}

.filter-button {
  text-transform: none !important;
}

#customized-menu{
  width:100%;
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0; 
}

.menu-item{
  width: auto;
  padding: 0 !important;
}

.menu-item-button {
  display:block;
  width:100%;
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;  
  text-transform: none !important;
  span {
    justify-content: flex-start !important;
  }
}

.contests-button {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.horizontal-line {
  font-size: 23px;
  color: white;
  margin-left: 16px;
  margin-right: -5px;
}

.admin-actions-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: -10px;
}

.empty-div-admin {
  width: 220px;
}