$mainRadius: 10px;
$secondaryColor: #006d77;
$mainFont: "ABeeZee";

.profile-img {
    width: 100vw;
    max-height: 450px;
    border-bottom: 2px solid black;
    box-shadow: 0 0px 5px 0 black;
    object-fit: cover;
}

.profile-cover {
    display: flex;
    justify-content: center;
    max-width: 100%;
    background-color: black;
}

.profile-pic-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.profile-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
}

.user-badge {
    margin-right: 115px;
    margin-top: -20px;
}

.remaining-points {
  margin-top: -15px;
}

.profile-details {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    .profile-title {
      display: flex;
      flex-wrap: wrap;
      max-width: 400px;
      padding: 0 10px 0 10px;
      justify-content: center;
      align-content: center;
      background-color: white;
      border: 2px solid black;
      box-shadow: 0 0px 5px 0 black;
      border-radius: $mainRadius;
      margin-top: -35px;
      .profile-name {
        color: black;
    }
  }
}

@mixin photoContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 15px;
  object-fit: contain;
  .user-photo-container {
    object-fit: contain;
    margin: 5px 1px;
    max-width: 32%;
  }
  .thumb-photo {
    cursor: pointer;
    max-width: 100%;
    max-height: 225px;
    box-shadow: 0px 0px 3px 1px black;
  }
}

.my-photos-container {
  @include photoContainer();
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 70px;
}

.profile-vote-score-info {
  color: white;
  margin-top: -38px;
  margin-bottom: 10px;
  z-index: 60;
  .profile-current-score {
    font-size: 20px;
    text-shadow: 0px 0px 6px rgb(0, 0, 0);
  }
}

.contest-category-single:hover {
  .contest-top-details {
    opacity: 1;
    color: black;
  }
  .row-cover-img {
    box-shadow: 0px 0px 5px 0px black;
    opacity: 0.5;
  }
}

.contest-category-single {
  cursor: pointer;
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  max-height: 230px;
  width: 33%;
  .contest-top-details {
    opacity: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    z-index: 99;
    align-items: center;
    margin-bottom: -50px;
    margin-right: -50px;
    font-size: 20px;
    text-align: center;
    * {
      z-index: 99;
      color: black;
      margin: 6px;
      align-content: center;
    }
    .contest-title {
      font-weight: bold;
    }
  }
  .row-cover-img {
    max-width: 99%;
    height: 220px;
    margin-bottom: 12px;
    object-fit: cover;
    box-shadow: 0px 0px 5px 0px black;
  }
}

.category-title {
margin-bottom: 40px;
}

.my-contests-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 15px;
  align-items: center;

  .my-contests-container::-webkit-scrollbar {
    display:none;
  }
}